<div class="d-flex flex-column justify-content-center align-items-center">
    <!-- Button per aprire il form -->
    <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#addImageForm" aria-expanded="false" aria-controls="addImageForm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 1a.5.5 0 0 1 .5.5V7h5.5a.5.5 0 0 1 0 1H8V14.5a.5.5 0 0 1-1 0V8H1.5a.5.5 0 0 1 0-1H7V1.5A.5.5 0 0 1 7.5 1zm0 1.8a.7.7 0 0 0-.7.7V7H2.8a.7.7 0 0 0-.7.7v.6a.7.7 0 0 0 .7.7h4.5v4.5a.7.7 0 0 0 .7.7h.6a.7.7 0 0 0 .7-.7V9h4.5a.7.7 0 0 0 .7-.7v-.6a.7.7 0 0 0-.7-.7H8V2.5a.7.7 0 0 0-.7-.7z"/>
        </svg>
    </button>


    <!-- Form per l'aggiunta di un'immagine (nascosto per default) -->
    <div class="collapse mt-3" id="addImageForm">
        <form hx-post="{% url 'website:add_gallery_image' %}" hx-target="#image-list" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Aggiungi</button>
        </form>
    </div>

    <!-- Lista delle immagini -->
    <div id="image-list">
        {% if gallery_images %}
            <ul class="list-unstyled">
                {% for image in gallery_images %}
                    <li class="mb-4">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="{{ image.img.url }}" alt="{{ image.description }}" style="max-width: 100%; height: auto;">
                            </div>
                            <div class="col-md-6">
                                <h5>{{ image.description }}</h5>
                                <p>gallery: {{ image.gallery_name }}</p>
                            </div>
                            <form action="{% url 'website:delete_gallery_image' image.id %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Elimina</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Non sono presenti immagini al momento.</p>
        {% endif %}
    </div>


</div>
