{% load static %}
<nav class="navbar navbar-expand-lg" style="background-color: #FFD180;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'website:home' %}">
            <img src="{% static 'icons/bee.png' %}" alt="Home" width="30" height="30" class="d-inline-block align-text-top">
            HOME
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'transactions:base' %}">
                        <i class="fas fa-exchange-alt"></i> Transactions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'screener:index' %}">
                        <i class="fas fa-chart-bar"></i> Screener
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'habits:overview' %}">
                        <i class="fas fa-heart"></i> Habits
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
